*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: 'Tenali Ramakrishna', sans-serif;
}
.app{
    height:100hv;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;

}
header p{
    font-size: 30px;
}
.pads{
    background: lightblue;
    width: 100%;
}